In [84]:
import numpy as np
import pandas as pd
import datetime as dt
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [99]:
data = pd.read_csv("experiment.csv")
df = pd.DataFrame(data)

In [100]:
exp = df[:100]
if exp.iloc[2]["invoice_currency"]== "USD":
    print(True)

True

In [101]:
exp

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,U001,0200769623,WAL-MAR llc,NaN,2020.0,1.930753e+09,2020-04-06,20200406,20200406,20200421.0,USD,RV,1.0,NaN,11394.84,20200406.0,NAH4,1.930753e+09,1
96,U001,0200783609,PROFIC corporation,2020-01-29 00:00:00,2020.0,1.930396e+09,2020-01-14,20200114,20200114,20200129.0,USD,RV,1.0,NaN,20306.46,20200114.0,NAA8,1.930396e+09,0
97,U001,0100033266,INTERN trust,2019-12-24 00:00:00,2019.0,1.930174e+09,2019-11-25,20191120,20191125,20191210.0,USD,RV,1.0,NaN,17243.10,20191125.0,NAA8,1.930174e+09,0
98,U001,0200744019,TARG associates,2020-02-26 00:00:00,2020.0,1.930512e+09,2020-02-11,20200211,20200211,20200226.0,USD,RV,1.0,NaN,22993.63,20200211.0,NAA8,1.930512e+09,0
99,U001,0200705089,JETR foundation,2019-08-07 00:00:00,2019.0,1.929651e+09,2019-07-23,20190723,20190723,20190807.0,USD,RV,1.0,NaN,18939.75,20190723.0,NAA8,1.929651e+09,0

In [107]:
for i in range(1,len(exp)):
    curr_col = exp.iloc[i]
    if (curr_col["invoice_currency"])== "CAD":
        curr_col.replace(['CAD'],'USA')
        curr_col["total_open_amount"]* .75 
        print(curr_col)

business_code                     CA02
cust_number                 0140105686
name_customer                 SYSC llc
clear_date                         NaN
buisness_year                   2020.0
doc_id                    2960623488.0
posting_date                2020-03-30
document_create_date          20200330
document_create_date.1        20200330
due_in_date                 20200410.0
invoice_currency                   CAD
document type                       RV
posting_id                         1.0
area_business                      NaN
total_open_amount               3299.7
baseline_create_date        20200331.0
cust_payment_terms                CA10
invoice_id                2960623488.0
isOpen                               1
Name: 3, dtype: object
business_code                            CA02
cust_number                        0140106181
name_customer                THE  corporation
clear_date                2019-12-04 00:00:00
buisness_year                          2019.0
doc_id                           2960581231.0
posting_date                       2019-09-20
document_create_date                 20190920
document_create_date.1               20190920
due_in_date                        20191004.0
invoice_currency                          CAD
document type                              RV
posting_id                                1.0
area_business                             NaN
total_open_amount                    22225.84
baseline_create_date               20190924.0
cust_payment_terms                       CA10
invoice_id                       2960581231.0
isOpen                                      0
Name: 5, dtype: object
business_code                     CA02
cust_number                 0140106408
name_customer               WAL-M corp
clear_date                         NaN
buisness_year                   2020.0
doc_id                    2960618790.0
posting_date                2020-03-06
document_create_date          20200306
document_create_date.1        20200306
due_in_date                 20200316.0
invoice_currency                   CAD
document type                       RV
posting_id                         1.0
area_business                      NaN
total_open_amount             92832.27
baseline_create_date        20200306.0
cust_payment_terms                CA10
invoice_id                2960618790.0
isOpen                               1
Name: 25, dtype: object
business_code                            CA02
cust_number                        0140106408
name_customer                WAL-M associates
clear_date                2019-05-06 00:00:00
buisness_year                          2019.0
doc_id                           2960542344.0
posting_date                       2019-04-16
document_create_date                 20190416
document_create_date.1               20190416
due_in_date                        20190426.0
invoice_currency                          CAD
document type                              RV
posting_id                                1.0
area_business                             NaN
total_open_amount                    48413.28
baseline_create_date               20190416.0
cust_payment_terms                       CA10
invoice_id                       2960542344.0
isOpen                                      0
Name: 29, dtype: object
business_code                            CA02
cust_number                            CCU001
name_customer                    KRAFT  trust
clear_date                2019-05-31 00:00:00
buisness_year                          2019.0
doc_id                           2960541801.0
posting_date                       2019-04-12
document_create_date                 20190412
document_create_date.1               20190412
due_in_date                        20190519.0
invoice_currency                          CAD
document type                              RV
posting_id                                1.0
area_business                             NaN
total_open_amount                    31715.46
baseline_create_date               20190414.0
cust_payment_terms                       NAG2
invoice_id                       2960541801.0
isOpen                                      0
Name: 44, dtype: object
business_code                            CA02
cust_number                        0100030194
name_customer                          AMAZO
clear_date                2019-07-15 00:00:00
buisness_year                          2019.0
doc_id                           2960558116.0
posting_date                       2019-06-30
document_create_date                 20190630
document_create_date.1               20190630
due_in_date                        20190711.0
invoice_currency                          CAD
document type                              RV
posting_id                                1.0
area_business                             NaN
total_open_amount                      2827.8
baseline_create_date               20190701.0
cust_payment_terms                       CA10
invoice_id                       2960558116.0
isOpen                                      0
Name: 61, dtype: object
business_code                            CA02
cust_number                        0140106181
name_customer                       THE  corp
clear_date                2019-09-18 00:00:00
buisness_year                          2019.0
doc_id                           2960562705.0
posting_date                       2019-07-08
document_create_date                 20190708
document_create_date.1               20190708
due_in_date                        20190719.0
invoice_currency                          CAD
document type                              RV
posting_id                                1.0
area_business                             NaN
total_open_amount                      6912.0
baseline_create_date               20190709.0
cust_payment_terms                       CA10
invoice_id                       2960562705.0
isOpen                                      0
Name: 63, dtype: object
business_code                          CA02
cust_number                       140105785
name_customer             SHOPPE foundation
clear_date                              NaN
buisness_year                        2020.0
doc_id                         2960624627.0
posting_date                     2020-03-27
document_create_date               20200327
document_create_date.1             20200327
due_in_date                      20200410.0
invoice_currency                        CAD
document type                            RV
posting_id                              1.0
area_business                           NaN
total_open_amount                    2829.6
baseline_create_date             20200331.0
cust_payment_terms                     CA10
invoice_id                     2960624627.0
isOpen                                    1
Name: 70, dtype: object
business_code                            CA02
cust_number                        0140104409
name_customer                          LOB us
clear_date                2019-06-21 00:00:00
buisness_year                          2019.0
doc_id                           2960552326.0
posting_date                       2019-06-02
document_create_date                 20190603
document_create_date.1               20190602
due_in_date                        20190619.0
invoice_currency                          CAD
document type                              RV
posting_id                                1.0
area_business                             NaN
total_open_amount                    51234.16
baseline_create_date               20190609.0
cust_payment_terms                       CA10
invoice_id                       2960552326.0
isOpen                                      0
Name: 82, dtype: object

In [108]:
i=5
exp.iloc[i]

business_code                            CA02
cust_number                        0140106181
name_customer                THE  corporation
clear_date                2019-12-04 00:00:00
buisness_year                          2019.0
doc_id                           2960581231.0
posting_date                       2019-09-20
document_create_date                 20190920
document_create_date.1               20190920
due_in_date                        20191004.0
invoice_currency                          CAD
document type                              RV
posting_id                                1.0
area_business                             NaN
total_open_amount                    22225.84
baseline_create_date               20190924.0
cust_payment_terms                       CA10
invoice_id                       2960581231.0
isOpen                                      0
Name: 5, dtype: object

In [48]:
exp["invoice_currency"] == "CAD"

0     False
1     False
2     False
3      True
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: invoice_currency, Length: 100, dtype: bool

In [49]:
exp.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0

In [56]:
count = 1
for i in range(len(exp)-1):
    a = exp.iloc[[i]]
    c= str(a["invoice_currency"])
   
    if((c) =="CAD"):
        count =count+1 
    #print(invoice, amount)
count

1

In [45]:
len(exp)

1

In [10]:
s = pd.Series([1, 2, 3, 4, 5])

s.replace(1, 5)

0    5
1    2
2    3
3    4
4    5
dtype: int64

In [30]:
exp["invoice_currency"] = exp["invoice_currency"].str.replace("CAD", "USD")

C:\Users\karti\AppData\Local\Temp\ipykernel_7176\3814501981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp["invoice_currency"] = exp["invoice_currency"].str.replace("CAD", "USD")

In [31]:
exp

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,USD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,U001,0200769623,WAL-MAR llc,NaN,2020.0,1.930753e+09,2020-04-06,20200406,20200406,20200421.0,USD,RV,1.0,NaN,11394.84,20200406.0,NAH4,1.930753e+09,1
96,U001,0200783609,PROFIC corporation,2020-01-29 00:00:00,2020.0,1.930396e+09,2020-01-14,20200114,20200114,20200129.0,USD,RV,1.0,NaN,20306.46,20200114.0,NAA8,1.930396e+09,0
97,U001,0100033266,INTERN trust,2019-12-24 00:00:00,2019.0,1.930174e+09,2019-11-25,20191120,20191125,20191210.0,USD,RV,1.0,NaN,17243.10,20191125.0,NAA8,1.930174e+09,0
98,U001,0200744019,TARG associates,2020-02-26 00:00:00,2020.0,1.930512e+09,2020-02-11,20200211,20200211,20200226.0,USD,RV,1.0,NaN,22993.63,20200211.0,NAA8,1.930512e+09,0
99,U001,0200705089,JETR foundation,2019-08-07 00:00:00,2019.0,1.929651e+09,2019-07-23,20190723,20190723,20190807.0,USD,RV,1.0,NaN,18939.75,20190723.0,NAA8,1.929651e+09,0