In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("experiment.csv")
df = pd.DataFrame(data)

In [3]:
exp = df[:100]
if exp.iloc[2]["invoice_currency"]== "USD":
    print(True)

True

In [4]:
exp

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,U001,0200769623,WAL-MAR llc,NaN,2020.0,1.930753e+09,2020-04-06,20200406,20200406,20200421.0,USD,RV,1.0,NaN,11394.84,20200406.0,NAH4,1.930753e+09,1
96,U001,0200783609,PROFIC corporation,2020-01-29 00:00:00,2020.0,1.930396e+09,2020-01-14,20200114,20200114,20200129.0,USD,RV,1.0,NaN,20306.46,20200114.0,NAA8,1.930396e+09,0
97,U001,0100033266,INTERN trust,2019-12-24 00:00:00,2019.0,1.930174e+09,2019-11-25,20191120,20191125,20191210.0,USD,RV,1.0,NaN,17243.10,20191125.0,NAA8,1.930174e+09,0
98,U001,0200744019,TARG associates,2020-02-26 00:00:00,2020.0,1.930512e+09,2020-02-11,20200211,20200211,20200226.0,USD,RV,1.0,NaN,22993.63,20200211.0,NAA8,1.930512e+09,0
99,U001,0200705089,JETR foundation,2019-08-07 00:00:00,2019.0,1.929651e+09,2019-07-23,20190723,20190723,20190807.0,USD,RV,1.0,NaN,18939.75,20190723.0,NAA8,1.929651e+09,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   buisness_year           50000 non-null  float64
 5   doc_id                  50000 non-null  float64
 6   posting_date            50000 non-null  object
 7   document_create_date    50000 non-null  int64
 8   document_create_date.1  50000 non-null  int64
 9   due_in_date             50000 non-null  float64
 10  invoice_currency        50000 non-null  object
 11  document type           50000 non-null  object
 12  posting_id              50000 non-null  float64
 13  area_business           0 non-null      float64
 14  total_open_amount       50000 non-null  float64
 15  baseline_create_date    50000 non-null  float64
 16  cust_payment_terms      50000 non-null  object
 17  invoice_id              49994 non-null  float64
 18  isOpen                  50000 non-null  int64
dtypes: float64(8), int64(3), object(8)
memory usage: 7.2+ MB

In [17]:
a = df["cust_number"]

In [19]:
def integers_test(x):
    ref = dict(df['cust_number'].value_counts())
    if ref.get(x):
        return ref[x]
    
df['cust_number'] = df['cust_number'].apply(integers_test)

KeyboardInterrupt:

In [ ]:
df.info()